
@media (min-width:768px){.navbar-default{background:#001238b0;-webkit-transition:padding .3s;-moz-transition:padding .3s;transition:padding .3s;border:0}.navbar-default .navbar-brand{-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}.navbar-default .navbar-nav>.active>a{}.navbar-default.navbar-shrink{background-color:#001238!important;padding:5px 0}}

